.chess-table {
  @apply grid grid-cols-8 w-fit mx-auto;
}

.chess-table button.white-h {
  @apply bg-white-h;
}
.chess-table button.black-h {
  @apply bg-black-h;
}

.chess-table button {
  @apply text-[#010001]
    w-8 h-8
    xss:w-10 xss:h-10
    sm:w-12 sm:h-12
    md:w-14 md:h-14
    select-none;
}
